@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

div {
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    font-family: "Hanken Grotesk", sans-serif;
    padding:150px;
}

.item {
    padding: 18px;
}

.summary {
    background-color: white;
    clear:both;
    width:18%;
}

.result {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 81%, 54%));
    border-radius: 10px;
    text-align: center;
}

.circle {
    border-radius: 50%;
    padding: 20px;
    background-image: linear-gradient(hsla(241, 81%, 54%), hsla(256, 72%, 46%, 1));
    width: 40%;
    margin: auto;
}

.white {
    color: white;
}

.lightGrey {
    color:hsl(241, 100%, 89%);
}

.big {
    font-size: 28pt;
    font-weight: bold;
}

.small {
    font-size: 8pt;
    color:hsl(241, 100%, 89%);
}

.yourR {
    font-size: 10pt;
}

.great {
    font-weight:bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.button {
    text-align: center;
    background-color: hsl(224, 30%, 27%);
    color: white;
    border-radius: 15px;
    padding: 5px;
}